<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bee_kind.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
				<key>dateExpires</key>
				<string>30/07/2026</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>otp_pin_field.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pointer_interceptor_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B25621070866C4C69CB68BDBE01E247677AB93EE</string>
						<key>dateExpires</key>
						<string>30/07/2026</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>696PA32759</string>
						<key>name</key>
						<string>TECHNADO (PRIVATE) LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>696PA32759.com.example.beeKind</string>
				<key>com.apple.developer.team-identifier</key>
				<string>696PA32759</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d7f8ed3f-7f22-4a0a-85ba-69d2361a1f1c</string>
				<key>dateExpires</key>
				<string>07/08/2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.beeKind</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>696PA32759</string>
				<key>name</key>
				<string>TECHNADO (PRIVATE) LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
